doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 WITH PUG templating engine
    script(src=require("../js/script2.js") defer)
    link(href=require('../css/main.scss') rel='stylesheet')
    img.images#first_image(src=require("../images/logo.svg"))
    img.images(src=require("../images/quality.png"))
    div#root 