@font-face {
  font-family: "SK Clumster Sans Trial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SK Clumster Sans Trial Regular"),
    url("./fonts/sk-clumster-sans-trial.woff") format("woff");
}

.navbar {
  background-color: red;
}

$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-family: "SK Clumster Sans Trial Regular";
  font-weight: normal;
  font-size: $font-size;
  color: $font-color;
}

.images {
  width: 200px;
  height: 150px;
}
